NEXT_PUBLIC_APP_URL="http://localhost:3000"

# The domain where your images are hosted on.
# See https://nextjs.org/docs/basic-features/image-optimization#domains
NEXT_PUBLIC_IMAGE_DOMAINS="cms.dev.codeforafrica.org"

# How to scale downloaded/shared images (width and height)
# See https://vega.github.io/vega/docs/api/view/#view_toImageURL
NEXT_PUBLIC_IMAGE_SCALE_FACTOR=2

# openAFRICA domains
# A comma-separated list of domains to openAFRICA (or any CKAN-based site domain)
NEXT_PUBLIC_OPENAFRICA_DOMAINS=

# sourceAFRICA domains
# A comma-separated list of domains to sourceAFRICA (or any DocumentCloud
# based site domain)
NEXT_PUBLIC_SOURCEAFRICA_DOMAINS=

# AWS S3 bucket for storing images
S3_ACCESS_KEY_ID=AAAAAAAAAAAAAAAAAAAA
S3_SECRET_ACCESS_KEY=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
S3_BUCKET=name-of-s3-bucket
S3_REGION=bucket-region-us-east-1

# Payload
MONGO_URL="mongodb+srv://<user>:<pass>@host/db"
PAYLOAD_PUBLIC_APP_URL="http://localhost:3000"
PAYLOAD_SECRET="secure random string"
