# Include application-specific Dockerfiles e.g. charterafrica.Dockerfile
*Dockerfile
.dockerignore
**/node_modules
npm-debug.log
.pnpm-debug.log
README.md
**/.env.local
**/.next
**/.turbo
**/.vscode
**/build
**/media
