# Include application-specific Dockerfiles e.g. Dockerfile.charterafrica
Dockerfile*
.dockerignore
**/node_modules
npm-debug.log
.pnpm-debug.log
README.md
**/.env.local
**/.next
**/.turbo
**/.vscode
**/build
