NEXT_PUBLIC_IMAGE_DOMAINS=
NEXT_PUBLIC_IMAGE_UNOPTIMIZED="true|false"
NEXT_PUBLIC_APP_LOGO_URL=https://res.cloudinary.com/code-for-africa/image/upload/v1656078512/codeforafrica/logos/CfA_logo_BW_twlmo6.png
NEXT_PUBLIC_APP_NAME="Code for Africa"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Ghost
#
GHOST_API_KEY=
GHOST_API_VERSION=
GHOST_URL=
# Admin URL is only need if different from normal URL
GHOST_ADMIN_URL=

# Google
#
GOOGLE_MAPS_API_KEY=

# GITHUB
#
GITHUB_BACKEND_REPO=
GITHUB_AUTH_ENDPOINT=
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
